.search,
.capitals {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherContainer h1,
h2 {
    text-align: center;
    margin-top: 2rem;
}

/* Capitals Table */
.capitals table {
    margin-top: 2rem;
}

.capitals th {
    padding: 2rem;
    font-weight: 100;
}

.capitals td {
    text-align: center;
}

#capitalsText {
    margin-top: 5rem;
    position: relative;
    top: 2rem;
}


/* Search */
.search input {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    height: 1rem;
    text-align: center;
}

.search button {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 5.5rem;
    margin-left: 5px;
}

.search img {
    width: 20px;
}

.weatherCity {
    /* display: none; */
    text-align: center;
    background: #ffffff3b;
    /* color: black; */
    width: 25rem;
    height: 10rem;
    margin: 0 auto;
    list-style-type: none;
    font-weight: bold;
    font-size: large;
    line-height: 116px;
    margin-top: 5rem;
    border-radius: 4rem 1rem 4rem 1rem;
    
}

.weatherCity li {
    display: flex;
}