<% if(locals.city){ %>
<div class="weatherCity" id="weatherCity">
    <li>
            <ul>Cidade: <%= city %></ul>
            <ul>Temperatura: <%= temperature %></ul>
            
        </li>
    </div>
    <% } %>